<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Search</title>
</head>
<body>
    <main>
        <form action="/searches" method="POST">
            <fieldset>
                <legend>Book Search:</legend>
                <label for="searchType"> Select by </label>
                Title<input type="radio" name="searchType" value="title"/>
                Author<input type="radio" name="searchType" value="author"/>
                <label for="inputField">Enter your search phrase:</label>
                <input type="text" name="searchQuery"/>
                <input type="submit" value="search"/>
            </fieldset>
        </form>
    </main>
</body>
</html>