<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/reset.css">
    <link rel="stylesheet" href="/styles/base.css">
    <link rel="stylesheet" href="/styles/layout.css">
    <link rel="stylesheet" href="/styles/modules.css">
    <title>New Search</title>
</head>
<body>
    <main>
        <form>
            <h1>Search Books</h1>
            <fieldset>
                Title<input  id="radioSpace" type="radio" name="searchType" value="title"/>
                Author<input type="radio" name="searchType" value="author"/>
                <br></br>
                <label for="inputField"></label>
                <input type="text" name="searchQuery"/>
                <input type="submit" value="search"/>
            </fieldset>
        </form>
    </main>
</body>
</html>