<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- NECCESARY OR NOT???
    <link rel="stylesheet" href="public/styles/base.css">
    <link rel="stylesheet" href="public/styles/layout.css">
    <link rel="stylesheet" href="public/styles/modules.css">
    <link rel="stylesheet" href="public/styles/reset.css"> -->

  </head>
  <body>
<h1>Hello World!</h1>
<section>
<p>This is our Project!</p>
</section>
    <script src="server.js" async defer></script>
  </body>
</html>