body, html {
  width: 480px;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  padding:0;
  box-sizing: border-box;
  text-align: center;
}
body {
  margin-left: auto;
  margin-right: auto;
  padding:0px;
  text-align: center;
}
main {
  text-align: center;
}