body {
  text-align: center;
  background-color:bisque;
  color:rgb(4, 109, 112);
}

h1 {
  font-size: 24px;
  padding: 20px;
}
}
section {
  background-color:cornflowerblue;
  color:crimson;
  width: 200px;
}

p {
  padding: 30px;
}